@page "/evidence"
@inject IJSRuntime JavaScript
<PageTitle>Evidence</PageTitle>

<h1>Evidence!</h1>

<div class="p-2 border">
	<label>Datum: <input type="date" @bind = "Polozka.Datum"/></label>
	<label>Náklady: <input type="number" @bind="Polozka.Naklady" /></label>
	<label>Výnosy: <input type="number" @bind="Polozka.Vynosy" /></label>
	<label>Popis: <input type="text" @bind="Polozka.Popis" /></label>
	@if (IsEditace)
	{
		<button @onclick="UkoncitEditaci" type="button" class="mx-2 btn btn-primary">Ukončit editaci</button>
	}
	else
	{
		<button @onclick="PridatZaznam" type="button" class="mx-2 btn btn-success">Přidat</button>
	}
</div>

<div class="p-2 border">
	<button @onclick="SetriditDleDatumu" type="button" class="mx-2 btn btn-info">Sestřídit dle datumu</button>
	<button @onclick="SetriditSestupneDleDatumu" type="button" class="mx-2 btn btn-info">Sestřídit sestupne dle datumu</button>
</div>

<div class="p-2 my-3 border">
	<button class="btn btn-info" @onclick="ZobrazZaznamy">Zobraz vše</button>
	<button class="btn btn-info" @onclick="ZobrazPocetZaznamu">Počet záznamů</button>
	<button class="btn btn-info" @onclick="Statistiky">Statistiky</button>
</div>

<div class="p-2 my-3 border">
	<!-- Tato část zobrazuje formátovaný výstup proměnné 'Vypis'. -->
	<p> @((MarkupString)Vypis!)</p>
</div>
<div class="my-2">
	<div class="p-2 my-3 border" disabled="@IsEditace">
		<!--  Zaškrtávací políčko pro přepínání viditelnosti filtru dat -->
		<label>
			<input type="checkbox" @bind-value="ZobrazenFiltrDat" />
			Zobrazit filtr dat
		</label>
		<!-- Zobrazi se, pokud je zaskrtnuto zobrazit filtr dat -->
		@if (ZobrazenFiltrDat)
		{
			<div>
				Zisk
				<select @bind="SelectedFilter">
					<option value="<">&lt;</option>
					<option value=">">&gt;</option>
					<option value="=">=</option>
				</select>
				<InputNumber @bind-Value="@FiltrHodnota" />
				, Popis = <input type="text" @bind=FiltrPopis />
				<button @onclick="FiltrujPolozky">Filtruj</button>
			</div>
		}
	</div>

	@if (Polozky.Count == 0)
	{
		<p>Nejsou zatím žádné záznamy</p>
	}
	else
	{
		@* https://www.w3schools.com/bootstrap5/bootstrap_form_check_radio.php *@
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" @bind-value="ZobrazitMesičníStatistiky">
			<label class="form-check-label" for="mySwitch">Měsíční statistiky</label>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Náklady</th>
					<th>Výnosy</th>
					<th>Zisk</th>
					<th>Popis</th>
					<th>Smazat</th>
					<th>Edituj</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var pol in Polozky)
				{
					<tr class="@GetCssClassForTR(pol)">
						<td>@pol.Datum</td>
						<td>@pol.Naklady</td>
						<td>@pol.Vynosy</td>
						<td>@pol.Zisk</td>
						<td>@pol.Popis</td>
						<td>
							<button @onclick="()=>SmazatZaznam(pol)" type="button" class="btn btn-outline-danger">&times;</button>
						</td>
						<td>
							<button @onclick="()=>UpravitZaznam(pol)" type="button" class="btn btn-outline-info">&plusmn;</button>
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>
@code {
	private bool ZobrazitMesičníStatistiky { get; set; } = false;

}
